
* {
  margin: 0;
  padding: 0; 
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 16px;
	background-color: #3F51B5;
	font-family: "Open Sans", sans-serif;
		background-color: white;

}

.container {

}

.header, .main, .add {

}

.lists {
	
}

.header {
	background-color: #3F51B5;
	width: 100%;
	line-height: 5rem;
	color: white;
	padding-left: 3rem;
	position: fixed; 

}

.main {
	padding-left: 4rem;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color: white;
}

.main li {
	padding-top: 1rem;
	font-size: 1.15rem;
}

.add {
	background-color: #3F51B5;
	width: 100%;
	line-height: 5rem;
	color: white;
	padding-left: 2rem;
/*	text-transform: uppercase;
*/	
	text-align: center;
	float: bottom;
	position: fixed; bottom: 0; left: 0
}

.add:hover {
	cursor: pointer;
}

strike {
	color: #ff3f80;
}
